html{
    font-family: serif;
    background: rgba(255, 173, 49, 0.876);
    margin: 0;
    border: rgba(72, 5, 255, 0.25);
    text-decoration-color: #2b1b00;
    border-radius: 20%; 
    font-size: 14px;
  }

.flexbox-grid{
    display:flex;
    gap: 5px; 
  }

body{
    min-height: 60vw;
  }

.flexbox-grid{
  align-items: flex-start;
  justify-content: center;
  column-gap: 2%;
}

#col-first{
    /* border: 9px solid black;  */
    margin-top: -300px;
    padding-left:15%;
    color:#7a05ff;
    font-size: 250px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}



b{
    font-weight: 1000;
}



#col-second{
  /* padding-top:140px; */
  /* border: 9px solid black;  */
  margin-top: -40px;
  color:#7a05ff;
  line-height: 27px;
  font-family: "Zalando Sans Expanded", sans-serif;
  font-size:45px;
  font-weight: 200px;
  font-style: normal;
} 

#col-third{
  /* border: 9px solid black;  */
  padding-left: 10px;
  margin-top: 90px;
  color:#7a05ff;
  font-size:45px;
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: italic;
}




.hexagon-panel {
  display:flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-left: 35%;
  position: relative;
  width: 1000px; 
  line-height: 1.3;

}

ol.even {
  position: relative;
  max-height: 1%;
  left: 5.45em;
}

ol.odd {
  position: relative;
  margin-top: -6.5%;
  margin-bottom: -6.5%;
}

/* hexagons that do have something linked */
.hex1 {
  position: relative;
  margin: 1em auto;
  width: 6em;
  height: 10.2em;
  border-radius: 1em 0.5em;
  background: #aaaaaa;
  transform: rotate(-90deg);
  display: inline-block;
  margin-right: 4.62em;
  transition: all 150ms ease-in-out;
  bottom: 400px;
}
.hex1:before, .hex1:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: '';
}
.hex1:before {
  transform: rotate(60deg);
}
.hex1:after {
  transform: rotate(-60deg);
}
.hex1:hover {
  background: #e1f587;
  cursor: pointer;
}

/* hexagons that dont have anything linked */
.hex2 {
  position: relative;
  margin: 1em auto;
  width: 6em;
  height: 10.2em;
  border-radius: 1em 0.5em;
  background: #e22242;
  transform: rotate(-90deg);
  display: inline-block;
  margin-right: 4.62em;
  transition: all 150ms ease-in-out;
  bottom: 400px;
}
.hex2:before, .hex2:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: '';
}
.hex2:before {
  transform: rotate(60deg);
}
.hex2:after {
  transform: rotate(-60deg);
}
.hex2:hover {
  background: #e1f587;
  cursor: pointer;
}

.tutorial-message{ 
  background:rgba(246, 92, 20, 0.22);
  border: 2px solid rgba(72, 5, 255, 0.25);
  border-radius: 50px;
  backdrop-filter: blur(6px);
  width: 30%;
}

.tutorial-message-text{
  display: flex;
  color: aliceblue;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  padding-left: 20px;
  padding-right:20px;
}


.main-message{ 
  position: absolute;
  right:10px;
  bottom: -100px;
  background:rgba(246, 99, 20, 0.541);
  border: 2px solid rgba(72, 5, 255, 0.25);
  border-radius: 50px;
  backdrop-filter: blur(6px);
  width: 65%;
}

.main-message-text{
  display: flex;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  padding-left: 20px;
  padding-right:20px;
}














