html{
    font-family: serif;
    background: rgb(92, 56, 2);
    margin: 0;
}

    .flexbox-grid{
    display:flex;
    gap: 5px; 
}

body{
    max-height: 200px;
    border: 9px solid black; 

}

.flexbox-grid{
  align-items: flex-start;
}

#col-first{
    border: 9px solid black; 
    padding-left:20px;
    color:#ccc;
    font-size:200px;
    font-family: "Gravitas One", serif;
    /* font-weight: 400; */
    /* font-style: normal; */
}



b{
    font-weight: 1000;
}



#col-second{
  /* padding-top:140px; */
  border: 9px solid black; 
  padding-left:20px;
  color:#ccc;
  line-height: 7px;
  font-family: "Zalando Sans Expanded", sans-serif;
  font-size:45px;
  font-weight: 200px;
  font-style: normal;
} 

#col-third{
  border: 9px solid black; 
  color:#ccc;
  /* padding-top: 220px; */
  padding-left: 10px;
  font-size:45px;
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: italic;
}

/* SCSS variables converted to CSS */




/* ----------------------------------------- */
.container {
  display:flex;
  flex-direction: column;
  width: 1000px; 
  line-height: 1.3;
}

ol.even {
  position: relative;
  left: 5.45em;
}

ol.odd {
  position: relative;
  margin-top: -6.5%;
  margin-bottom: -6.5%;
}
.hex {
  position: relative;
  margin: 1em auto;
  width: 6em;
  height: 10.2em;
  border-radius: 1em 0.5em;
  background: #717171;
  transform: rotate(-90deg);
  display: inline-block;
  margin-right: 4.62em;
  transition: all 150ms ease-in-out;
}
.hex:before, .hex:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: '';
}
.hex:before {
  transform: rotate(60deg);
}
.hex:after {
  transform: rotate(-60deg);
}
.hex:hover {
  background: #F58787;
  cursor: pointer;
}









