html{
    font-family: serif;
    background: rgb(253, 254, 246);
    margin: 0;
}

    .flexbox-grid{
    display:flex;
    gap: 5px; 
}


#col-first{
    padding-left:100px;
    font-size:95px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

b{
    font-weight: 1000
}



#col-second{
  line-height: 7px;
  padding-top: 150px;   
  font-family: "Zalando Sans Expanded", sans-serif;
  font-size:45px;
  font-weight: 200;
  font-style: normal;
} 

#col-third{
  padding-top: 300px;
  font-size:45px;
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: italic;
}







